<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Danh sách phim bộ</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/web-assets/css/movie-style.css}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img
                        class="logo"
                        src="https://motchillj.com/motchill.png?v1.0.2"
                        alt="logo"
                />
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Phim lẻ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Phim bộ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Phim chiếu rạp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Quốc gia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Thể loại</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="py-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="text-uppercase mb-3">Danh sách phim bộ</h3>
        </div>
        <div class="row">
            <div class="col-2" th:each="movie : ${pageData.content}">
                <a th:href="@{/phim/{id}/{slug}(id=${movie.id}, slug=${movie.slug})}"
                   class="text-decoration-none text-dark">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img th:src="${movie.poster}" alt=""/>
                            <p class="mt-2" th:text="${movie.name}">Movie Name</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <nav aria-label="..." class="d-flex justify-content-center mt-3">
            <ul class="pagination">
                <li class="page-item" th:classappend="${pageData.hasPrevious()} ? '' : 'disabled'">
                    <a class="page-link" th:href="@{/phim-bo(page=${pageData.number - 1}, limit=${pageData.size})}">Trước</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, pageData.totalPages)}"
                    th:classappend="${pageData.number + 1 == i} ? 'active'">
                    <a class="page-link" th:href="@{/phim-bo(page=${i}, limit=${pageData.size})}" th:text="${i}">1</a>
                </li>
                <li class="page-item" th:classappend="${pageData.hasNext()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/phim-bo(page=${pageData.number + 1}, limit=${pageData.size})}">Sau</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<footer class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img class="logo" src=" https://motchillj.com/motchill.png?v1.0.2" alt="logo"/>
                <p class="text-white mb-0 mt-3">
                    Mối Liên Kết Bí Ẩn xoay quanh Jang Jae Kyung, một cảnh sát tài ba
                    thuộc đội phòng chống ma túy bị người khác hãm hại mà dẫn đến
                    nghiện ngập. Manh mối quan trọng để tìm ra kẻ chủ mưu lại chính là
                    cái chết của người bạn thời trung học của anh. Càng đi sâu vào
                    điều tra, Jae Kyung lại phát hiện thêm càng nhiều bí mật không ngờ
                    về tình bạn 20 năm giữa anh và người bạn kia.
                </p>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb2">Phim chiếu rạp</p>
                </div>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb2">Phim chiếu rạp</p>
                </div>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb2">Phim chiếu rạp</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"
></script>
</body>
</html>
