body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-title {
  color: #333;
  font-weight: 700;
}

.btn-primary {
  background-color: #6c63ff;
  border: none;
}

.btn-primary:hover {
  background-color: #574b90;
}

a {
  color: #6c63ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
