<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Search</title>
</head>
<body>
<h1>Tìm kiếm sách</h1>
<form action="#" th:action="@{/books/search}" method="get">
    <input type="text" id="title" name="title" th:value="${title}" placeholder="Enter name ..." />
    <button type="submit">Tìm kiếm</button>
</form>
<div th:if="${title != null}">
    <div th:if="${#lists.isEmpty(searchResults)}">
        <br>
        <p>Không tìm thấy sách phù hợp</p>
    </div>
    <div th:unless="${#lists.isEmpty(searchResults)}">
        <br>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${searchResults}">
                <td th:text="${book.id}">ID</td>
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.year}">Year</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
